 <div class="box-body table-responsive no-padding" id="ajaxdata">    <table class="table table-hover">
                            <tr>
                                <th>ID</th>
                                <th>Profile Image</th>
                                <th>User Name</th>
                            </tr>

                            <%   var startTime = (Number(currentPage)-1)*10;
                             i=1+startTime;
                            if(staff.length>0){

                            staff.forEach(function(rs) { %>
                            <tr>
                                <td><%= i %></td>
                                <td> <% if(rs.userType!="artist"){ %>
                                        <a href="/customerview/<%= cryptr.encrypt(rs.followerId) %>" target="_self">
                                         <img src="<%= rs.profileImage %>" class="img-circle" width="60" height="60"  alt="<%= rs.userName %>" title="<%= rs.userName %>">
                                        </a>
                                    <% }else { %>
                                        <a href="/artistview/<%= cryptr.encrypt(rs.followerId) %>" target="_self">
                                            <img src="<%= rs.profileImage %>" class="img-circle" width="60" height="60"  alt="<%= rs.userName %>" title="<%= rs.userName %>">
                                        </a>
                                    <% } %>
                                </td>
                                <td><%= rs.userName %></td>

                            </tr>
                            <% i++;}); }else{ %>

                             <tr><td colspan="3" align="center"><b>No record found</b></td></tr>

                            <% } %>
                          
                        </table>


    </div><!-- /.box-body -->


                        <% if (pageCount > 1) { %>
            <ul class="pagination">
                <% if (currentPage > 1) { %>

                    <li><a href="#" onclick="staff_list(1);">&laquo;</a></li>
                <% } %>
                <% var i = 1;
                if (currentPage > 5) {
                    i = +currentPage - 4;
                } %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a href="#">...</a></li>
                <% } %>
                <% for (i; i<=pageCount; i++) { %>
                    <% if (currentPage == i) { %>
                        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                    <% } else { %>
                        <li><a href="#" onclick="staff_list('<%= i %>');"><%= i %></a></li>
                    <% } %>
                    <% if (i == (+currentPage + 4)) { %>
                        <li class="disabled"><a href="#">...</a></li>
                    <% break; } %>
                <% } %>
                <% if (currentPage != pageCount) { %>
                    <li><a href="#" onclick="staff_list('<%= i %>');">&raquo;</a></li>
                <% } %>
            </ul>
        <% } %>

    