
<!-- <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"> -->
<% include ./header %> 
<link href="/front/css/jquery.fancybox.min.css" rel="stylesheet">




      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <%- (businessType=="business") ?  'Staff Detail' : 'Company Detail'; %>
          </h1>
        
        </section>

           <!-- Main content -->
    <section class="content">

      <div class="row">


                 <% if (error.length > 0) { %>
                <div class="alert alert-danger"><%- error %></div>
                <% } %>

                 <% if (success.length > 0) { %>
                <div class="alert alert-success"><%- success %></div>
                <% } %>
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
                <div class="box-body box-profile">
                  <img class="profile-user-img img-responsive img-circle" src="<%= data.staffInfo.profileImage%>" alt="<%= data.userName %>" title="<%= data.staffInfo.userName %>" style="width:150px !important;hight:150px !important;">

                  <h3 class="profile-username text-center"><%= data.staffInfo.userName%></h3>
                    
                 <p class="text-muted text-center"> <span class="label label-primary"><%= data.job %></span></p>
                  

                </div>
                <!-- /.box-body -->

          </div>
          <!-- /.box -->

      

          <!-- About Me Box -->
      
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
        
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#hours" data-toggle="tab">Business Hours</a></li>        
              <li><a href="#services" data-toggle="tab">Services</a></li>
             
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="hours">

                  <div>
                      
                    <%
                      var days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'];
                      for(i=0; i<days.length;i++) {  %>
                      <div class="ui-collapsible ui-collapsible-inset ui-corner-all ui-collapsible-themed-content ui-collapsible-collapsed business_brdr"  style="display:none;" id="<%= i%>"> 
                        <h4 class ="ui-collapsible-heading-collapsed">
                        <b><%-  days[i] %></b>
                        </h4>
                        <div class="ui-collapsible-content ui-body-inherit">
                        <ul class="business-ul">
                               <%
                                   d=0; for(s=0; s<hours.length;s++) {

                                  if(hours[s].day==i){
                               %> 
                              <li>
                                <span><i class="fa fa-clock-o"></i> <%= hours[s].startTime%>  </span>
                                 <span> <i class="fa fa-clock-o"></i>  <%= hours[s].endTime%></span>
                              </li>
                                <script>
                           $("#<%= i%>").show();
                           </script>
                       <% } } %>
                        </ul>
                        </div>
                      </div>
                    <% }%>
                  </div>
              </div>
           

              <div class="tab-pane" id="services"></div>
           

           
            
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
      </div><!-- /.content-wrapper -->

      <% include ./footer %> 
  <script type="text/javascript">

      ajax_fun('1');


    function ajax_fun(e)

    {
       $.ajax({

            url: '/staffServicesAdmin',
            type: "GET", 
            data:{'id':'<%= data.businessId%>','artistId':'<%= data.artistId%>','page':e} ,                 
            cache: false,
            success: function(data){

                $("#services").html(data);

            }

        });       

    }
</script>
